<app-navbar></app-navbar>
<div class="container w-25">
    <h1 class="text-center">Payment Method</h1>
    <div >
        <h4  class="text-center">Select Method</h4>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
            (change)="onSelectMethod('cod')">
            <label class="form-check-label" for="flexRadioDefault1">
              Cash on delivery
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" 
            (change)="onSelectMethod('paypal')">
            <label class="form-check-label" for="flexRadioDefault2">
              PayPal
            </label>
          </div>
<div class="c1 mt-3">
              <button [disabled]="!selectedMethod" (click)="continue()">Continue</button>
    
</div>    
</div>
</div>
<app-footer></app-footer>