<app-navbar></app-navbar>
<div class="container">
    <h3>Women...</h3>
    <hr>
<ng-container *ngIf="allProducts && allProducts.length > 0; else loading">
        <h5 class="len">Showing all {{allProducts.length}} results</h5>
        <div class="row" >
            <div class="col-lg-3" *ngFor="let product of allProducts">
                <div class="card   mb-4 " style="width: 18rem;">
                   <div class="p-3" routerLink="/single-view/{{product._id}}">
                        <img [src]="'data:' + product.image.type + ';base64,' + arrayBufferToBase64(product.image.data.data)" class="card-img-top" alt="..."
                        style="height: 270px;">
                   </div>
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 600;">{{(product.name | slice:0:30) +'..' }}</h5>
                      <p class="brand">{{product.brand}}</p>
                      <div class="d-flex justify-content-between">
                        <p style="font-weight: 500; font-size: 20px;">Rs.{{product.price}}</p>
                        <p style="font-weight: 500; font-size: 20px;">{{product.rating}}<i class="fa-solid fa-star" style="color: #f2df07;"></i></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    
</ng-container>
<ng-template #loading>
    <div class=" my-5">
      <h4>Loading...</h4>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>
