<app-navbar></app-navbar>

<div class="container mt-3">
    <img class="i1"  src="https://images.bestsellerclothing.in/live/image/catalog/brandstore/bestseller/banners/1920-x-640px-Only-Basic-On-Repeat-HP-web_25092024.jpg" alt="">
    <h2 class="my-5">COLLECTIONS</h2>
    <div class="row r1 g-5">
        <div class="col-lg-4">
            <div class="imgcont" routerLink="/men">
                <img src="https://images.pexels.com/photos/29913799/pexels-photo-29913799/free-photo-of-portrait-of-a-man-in-a-hat-with-mysterious-expression.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class="overlay-text">MEN</div>
            </div>       
        </div>
        <div class="col-lg-4">
            <div class="imgcont" routerLink="/women">
                <img src="https://images.pexels.com/photos/1689731/pexels-photo-1689731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class="overlay-text">WOMEN</div>
            </div>       
         </div>
        <div class="col-lg-4">
            <div class="imgcont" routerLink="/all">
                <img src="https://images.pexels.com/photos/4982169/pexels-photo-4982169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class="overlay-text">EXPLORE ALL</div>
            </div>       
        </div>
    </div>
</div>
<div class="my-5">
    <hr>
    <div class="row r2 g-3 m-4">
        <div class="col-lg-4">
            <div>
                <i class="fa-solid fa-truck-fast mb-1" style="color: #121212;"></i>
                <p>FREE DELIVERY</p>
                <a>Enjoy free delivery on all orders</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <i class="fa-solid fa-hand-holding-heart mb-1" style="color: #0d0d0d;"></i>
                <p>EASY RETURNS</p>
                <a>Shop with confidence, enjoy <br>easy returns</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div>
                <i class="fa-solid fa-shield-halved mb-1" style="color: #121212;"></i>
                <p>SECURE PAYMENTS</p>
                <a>Shop securely with our <br>trusted payment options</a>
            </div>
        </div>
    </div>
    <hr>
</div>
<app-footer></app-footer>