.container{
    padding-top: 130px;
}
.b1{
    background-color: black;
    color: white;
    padding: 5px;
    padding-inline: 14px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.c1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
}
.c2{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.category{
    text-transform: uppercase;
    font-weight: 300;
}
span{
    text-transform: capitalize;
}
.brand{
    text-transform: uppercase;
    font-weight: 400;

}
.price{
    font-weight: 600;
}
.b2{
    border: 1px solid rgb(223, 220, 220); 
}
.b3{
    background-color: black;
    color: white;
    padding: 5px;
    padding-inline: 16px;
    font-weight: 400;
}
.card{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
}
.card img{
    transition: transform 0.3s ease;
}

.card img:hover{
    transform: scale(1.07);
}
.similar{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700; 
}